@model FurDepot.Models.User
@{
	// Confirmed with Hilbert put it in 11.12.2021 - Mai
	Layout = "~/Views/Shared/Layout.cshtml";
	ViewBag.Title = "My Dashboard";
}

<h2>@ViewBag.Title</h2>


@if (!Model.IsAuthenticated) {
	@Html.Partial("NotAuthenticated")
}
else {

	<p>This is where Shanique is working on this week.</p>

}

<script>
	$(document).ready(function () {
		SetActiveMenus('profile', 'index');
	});
</script>
