
@{
	// Confirmed with Hilbert put it in 11.12.2021 - Mai
	Layout = "~/Views/Shared/Layout.cshtml";
	ViewBag.Title = "My Transactions";
}

<h3>@ViewBag.Title</h3>
<p>Click below for reviewing each transaction.</p>
<p><a href="http://localhost:55352//Incident/IncidentRecords">Incident Reports</a></p>