
@{
    ViewBag.Title = "About us";
}

<h2>@ViewBag.Title</h2>

<p>In the world we live in, not only is the human population growing, but so is the population of the animals we domesticate and have as pets. 
	So, we are creating a website to help each and every pet have access to a comfortable, enjoyable life. 
	One person’s trash is another’s treasure, and that is one of the main principles motivating us to create this website. 
	FurDepot.com is the name of our creation and it will be a community friendly platform for selling and buying pet supplies 
	that is designed to make it convenient and affordable for the users of the website. 
	On FurDepot.com you will be able to upload pet products you no longer use. These will then be able to be viewed by the public and purchased. 
	On the other hand, if you need pet supplies, search no further. On FurDepot.com you will find an assortment of new or used products 
	that have been uploaded by fellow citizens of the pet owner community. </p>

<table>
	<tr>
		<td></td>
		<td><img class="image" src="~/Images/Louie.PNG" /></td>
		<td></td>
	</tr>
</table>