
@{
	ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<p>If you have any questions, please feel free to reach out to us!</p>

<p>Store</p>
<p class="event-link">
	<a href="mailto:furdepottest2021@gmail.com?subject=Fur Depot Store Question">store@furdepot.com</a>
</p>
<br />
<p>Web Site</p>
<p class="event-link">
	<a href="mailto:furdepottest2021@gmail.com?subject=Fur Depot Web Site Question">website@furdepot.com</a>
</p>


