
@{
    ViewBag.Title = "Disclosure";
}

<h2>@ViewBag.Title</h2>

<p>
	Fur Depot's Electronic Communication Systems (computer networks, systems, and equipment, including, but not limited to, email systems, intranets and connections to the Internet),
	as well as all Information transmitted, received, stored or accessed on Fur Depot's Electronic Communication Systems, are the exclusive property of Fur Depot. 
	<em><strong>Users do not have an expectation of privacy in any such information. Fur Depot may, at its solo discretion and without notice, monitor or retrieve such information.</strong></em>
	Authorized users of Fur Depot's computer networks, systems or equipment must adhere to all applicable laws, regulations and Fur Depot policies, including but not limited to,
	Fur Depot's Information Systems Policies. Unauthorized access to Fur Depot's Electronic Communication Systems may lead to criminal prosecution.
</p>

