
@{
	ViewBag.Title = "Privacy Statement";
}

<h2>@ViewBag.Title</h2>


<h3>Last updated: November 9, 2021</h3>
<p>
	The A Team LLC (“us”, “we”, or “our”) operates the http://FurDepot/ website (the “Website”).

	This page informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Website.

	CALIFORNIA RESIDENTS – If you are a California Resident, click here to be sent directly to the Privacy Statement applicable to your information.
	We will not use or share your information with anyone except as described in this Privacy Policy.
	We use your Personal Information for providing and improving the Website.
	By using the Website, you agree to the collection and use of information in accordance with this policy.
	Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.
</p>

<h3>
	Information Collection And Use
</h3>
<p>
	While using our Website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.
	Personally identifiable information may include, but is not limited to, your name, email address, home address,
	among other information (“Personal Information”).
	We collect this information for the purpose of providing the Website, identifying and communicating with you,
	responding to your requests/inquiries, and improving our services.

	<h3>
		Log Data
	</h3>
<p>
	We collect information that your browser sends whenever you visit our Website (“Log Data”).
	This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type, browser version,
	the pages of our Website that you visit, the time and date of your visit, the time spent on those pages and other statistics.
	When you access the Website by or through a mobile device, we may collect certain information automatically, including, but not limited to,
	the type of mobile device you use, your mobile device’s unique device ID, the IP address of your mobile device,
	your mobile operating system, the type of mobile Internet browser you use, your location information and other statistics.

	<h3>
		Cookies
	</h3>
<p>
	Cookies are files with a small amount of data, which may include an anonymous unique identifier.
	Cookies are sent to your browser from a web site and transferred to your device. We use cookies to collect information in order to
	improve our services for you. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.
	The Help feature on most browsers provides information on how to accept cookies, disable cookies or to notify you when receiving a new cookie.
	If you do not accept cookies, you may not be able to use some features of our Website and we recommend that you leave them turned on.

	<h3>
		Do Not Track Disclosure
	</h3>
<p>
	We support Do Not Track (“DNT”). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.
	You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.

	<h3>
		Website Providers
	</h3>
<p>
	We may employ third party companies and individuals to facilitate our Website, to provide the Website on our behalf,
	to perform Website-related services and/or to assist us in analyzing how our Website is used.
	These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to
	disclose or use your information for any other purpose.

	<h3>
		Compliance With Laws
	</h3>
<p>
	We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary
	to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Website.

	<h3>
		Security
	</h3>
<p>
	The security of your Personal Information is important to us, and we strive to implement and maintain reasonable,
	commercially acceptable security procedures and practices appropriate to the nature of the information we store,
	in order to protect it from unauthorized access, destruction, use, modification, or disclosure.
	However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and
	we are unable to completely guarantee the security of the Personal Information we have collected from you.
</p>
<h3>
	Links To Other Sites
</h3>
<p>
	Our Website may contain links to other sites that are not operated by us. If you click on a third party link,
	you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
	We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
</p>
<h3>
	Children’s Privacy
</h3>
<p>
	Only persons age 18 or older have permission to access our Website. Our Website does not address anyone under the age of 13 (“Children”).
	We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and
	you learn that your Children have provided us with Personal Information, please contact us. If we become aware that
	we have collected Personal Information from a child under the age of 13 without verification of parental consent,
	we take steps to remove that information from our servers.
</p>
<h3>
	Changes To This Privacy Policy
</h3>
<p>
	This Privacy Policy is effective as of November 9, 2021 and will remain in effect except with respect to any changes in
	its provisions in the future, which will be in effect immediately after being posted on this page.
	We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically.
	Your continued use of the Website after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of
	the modifications and your consent to abide and be bound by the modified Privacy Policy.
	If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us,
	or by placing a prominent notice on our website.
</p>
<h3>
	Contact Us
</h3>
<p>
	If you have any questions about this Privacy Policy, please contact us at privacy@FurDepot.com.
</p>




<h3>
	PRIVACY STATEMENT – CALIFORNIA
</h3>
<p>
	This PRIVACY NOTICE FOR CALIFORNIA RESIDENTS supplements the information contained in the Privacy Statement of The A Team LLC,
	and its affiliates (collectively, “we,” “us,” or “our”) and applies solely to visitors, users, and others who reside in
	the State of California (“consumers” or “you”) who are not employees of The A Team LLC.
	The privacy statement as it relates to employees of The A Team LLC can be found below. We adopt this notice to comply
	with the California Consumer Privacy Act of 2018 (“CCPA”) and other California privacy laws.  Any terms defined in the CCPA
	have the same meaning when used in this notice.
</p>
<h3>
	Information We Collect
</h3>
<p>
	We collect information that identifies, relates to, describes, references, is capable of being associated with,
	or could reasonably be linked, directly or indirectly, with a particular consumer or device (“personal information”).
	In particular, we have collected the following categories of personal information from consumers within the last twelve (12) months:

	Identifiers – A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address,
	email address, account name, Social Security number, driver’s license number, passport number, or other similar identifiers.
	Personal information described in subdivision (e) of Section 1798.80 (California Customer Records statute)
	(“1798.80 Personal Information”) – This means any information that identifies, relates to, describes, or is capable of being associated with,
	a particular individual, including, but not limited to, his or her name, signature, social security number, physical characteristics or description,
	address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education,
	employment, employment history, bank account number, credit card number, debit card number, or any other financial information,
	medical information, or health insurance information.

	Commercial Information – Including, but not limited to, records of personal property, products or services purchased,
	obtained, or considered, or other purchasing or consuming histories or tendencies.
	Internet or Network Activity – Browsing history, search history, information on a consumer’s interaction with a website,
	application, or advertisement.

	Geolocation Data – Physical location or movements.
	Personal information does not include:

	Publicly available information from government records.
	De-identified or aggregated consumer information.
	Information excluded from the CCPA’s scope.
	We obtain the categories of personal information listed above from the following categories of sources:

	Directly from our customers related to their purchases of products or services and related warranties.
	Indirectly from our distributors or sales agents.
	Directly and indirectly from activity on our website (http://FurDepot/), social media, or marketing efforts.
	From third-parties that interact with us in connection with the products we sell or services we perform.
</p>
<h3>
	Use of Personal Information
</h3>
<p>
	We may use or disclose the personal information we collect for one or more of the following business purposes:

	To fulfill or meet the reason for which the information is provided. For example, if you provide us with personal information
	in relation to a purchase, warranty submission, referral form, etc., we will use that information in conjunction with that specific purpose.
	To provide you with information, products or services that you request from us.
	To provide you with email alerts, event registrations and other notices concerning our products or services, or events or news,
	that may be of interest to you.
	To carry out our obligations and enforce our rights arising from any contracts entered into between you and us,
	including for billing and collections.
	To improve our website and present its contents to you.
	For testing, research, analysis and product development.
	As necessary or appropriate to protect the rights, property or safety of us, our clients or others.
	To respond to law enforcement requests and as required by litigation requirements, applicable law, court order, or governmental regulations.
	As described to you when collecting your personal information or as otherwise set forth in the CCPA.
	To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets.
	We will not collect additional categories of personal information or use the personal information we collected for materially different,
	unrelated, or incompatible purposes without providing you notice.
</p>
<h3>
	Sharing Personal Information
</h3>
<p>
	We may disclose your personal information to a third party for a business purpose in compliance with the CCPA.
	In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:
	<br />
	Identifiers<br />
	Personal Information<br />
	Commercial Information<br />
	We disclose your personal information for a business purpose to the following categories of third parties:
	<br />
	Our affiliates.<br />
	Service providers.<br />
	Third parties to whom you or your agents authorize us to disclose your personal information in connection with products or services we provide to you.<br />
	In the preceding twelve (12) months, we have not sold any personal information.
	<br />
</p>
<h3>
	Your Rights and Choices
</h3>
<p>
	The CCPA provides consumers (California residents) with specific rights regarding their personal information.
	This section describes your CCPA rights and explains how to exercise those rights.
</p>
<h3>
	Access to Specific Information
</h3>
<p>
	You have the right to request that we disclose certain information to you about our collection and use of your personal information
	over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:<br />

	The categories of personal information we collected about you.
	The categories of sources for the personal information we collected about you.
	Our business or commercial purpose for collecting or selling that personal information.
	The categories of third parties with whom we share that personal information.
</p>

<h3>
	Deletion Request Rights
</h3>
<p>
	You have the right to request that we delete any of your personal information that we collected from you and retained,
	subject to certain exceptions. Once we receive and confirm your verifiable consumer request,
	we will delete your personal information from our records, unless an exception applies.
	<br />	<br />
	We may deny your deletion request if retaining the information is necessary for us or our service providers to:
	<br />	<br />
	Complete the transaction for which we collected the personal information, provide a good or service that you requested,
	take actions reasonably anticipated within the context of our ongoing business relationship with you,
	or otherwise perform our contract with you.
	Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.
	Debug products to identify and repair errors that impair existing intended functionality.
	Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.
	Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 seq.).
	Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres
	to all other applicable ethics and privacy laws, when the information’s deletion may likely render impossible or
	seriously impair the research’s achievement, if you previously provided informed consent.
	Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.
	Comply with a legal obligation.
	Make other internal and lawful uses of that information that are compatible with the context in which you provided it.
	Exercising Access, Data Portability, and Deletion Rights
	<br />	<br />
	To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:
	<br />	<br />
	Calling us at 1-800-999-1234 Extension 987	<br />
	Writing us at the address noted below.	<br />
	Only you or a person registered with the California Secretary of State that you authorize to act on your behalf,
	may make a verifiable consumer request related to your personal information twice within a twelve month period. Your request must:
	<br />	<br />
	Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information.
	Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.
	We cannot respond to your request or provide you with personal information if we cannot verify your identity or
	authority to make the request and confirm the personal information relates to you.
	We will only use personal information provided in a verifiable consumer request to verify the requestor’s identity or authority to make the request.
</p>
<h3>
	Response Timing and Format
</h3>
<p>
	We endeavor to respond to a verifiable consumer request within 45 days of its receipt.
	If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.
	Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request’s receipt.
	The response we provide will also explain the reasons we cannot comply with a request, if applicable.
</p>
<h3>
	Non-Discrimination
</h3>
<p>
	We will not discriminate against you for exercising any of your CCPA rights, unless otherwise permitted by the CCPA.

	Changes to Our Privacy Notice

	We reserve the right to amend this privacy notice at our discretion and at any time.
</p>
<h3>
	Contact Information
</h3>
<p>
	If you have any questions or comments about this notice, our Privacy Statement,
	the ways in which we collect and use your personal information, your choices and rights regarding such use,
	or wish to exercise your rights under California law, please do not hesitate to contact us at:
	<br />	<br />
	Phone:  (513) 569-1500	<br />
	Website: http://FurDepot/	<br />
	Email: privacy@FurDepot.com	<br />
	Postal Address:	<br />	<br />

	The A Team LLC	<br />
	c/o Cincinnati State Technical and Community College	<br />
	3520 Central Parkway,	<br />
	Cincinnati, OH 45223	<br />	<br />


	EMPLOYEE PRIVACY NOTICE UNDER THE CALIFORNIA CONSUMER PRIVACY ACT FOR CALIFORNIA RESIDENT EMPLOYEES
	<br />
	Your privacy is important to us and we are committed to protecting our employees’ information.
	This privacy notice describes the personal information that we collect from our employees and the purposes for which we may use such information.
	<br />
	California enacted the California Consumer Privacy Act, California Civil Code § 1798.100 et seq.,
	(with any implementing regulations and as may be amended from time to time, “CCPA”).
	The CCPA imposes certain obligations on Mitsubishi Electric Automotive America, Inc. (together, “we” or “us”),
	and subject to specific exemptions and other limitations, grants certain rights to California resident employees
	(“California Resident,” “you” or “your”) with regard to their personal information.
</p>
<h3>
	What is personal information?
</h3>
<p>
	“Personal information” under the CCPA includes information that identifies, relates to, describes, is reasonably capable of being
	associated with, or could reasonably be linked, directly or indirectly, with a consumer or a household.
</p>
<h3>
	What categories of personal information do we collect?
</h3>
<p>
	We may have collected the following categories of personal information from or about you:

	Identifiers such as, your name, address, date of birth, email address, social security number, driver’s license number, passport number, or other similar identifiers.
	Characteristics of protected classifications under California or federal law, including, your gender, national origin, or marital status.
	Professional or employment-related information, including your current or former employer, professional titles, the names of your beneficiaries and other information necessary to operate employee benefit programs or your emergency contacts.
	Education information, defined as information that is not publicly available personally identifiable information as defined in the Family Educational Rights and Privacy Act (20 U.S.C. section 1232g, 34 C.F.R. Part 99).
	Personal information protected under California Civil Code Section 1798.80(e), including, for example, your signature or bank account or other financial information.
	Internet or other electronic network activity information, including, for example, information regarding your type of computer or web browser.
	Personal information under the CCPA does not include deidentified information, aggregate consumer information or publicly available information that is lawfully made available from government records.
</p>
<h3>
	What are the purposes for which this information may be used?
</h3>
<p>
	We may use your personal information for the following business or commercial purposes in addition to the employment purposes identified and/or excluded from the scope of the CCPA:

	Performing services for purposes of your employment with us or our contractual obligations to you including, for example, maintaining or servicing accounts; providing health, medical, retirement or other benefits; processing transactions or payments; verifying information; or providing similar services for employment purposes.
	Communicating with you about your employment or a potential position, including salary, other payments or benefits information, performance evaluations, references, application forms, emergency contact information or other human resources information.
	Enhancing our internal operations, protecting against malicious, deceptive, fraudulent, or illegal activity, including, preventing fraud, anti-money laundering, and conflict checks.
	Conducting security maintenance and enhancements, assisting law enforcement agencies or for regulatory or other legal purposes.
	Enabling or effecting commercial transactions, including, using your bank account details to deposit salary or other payments.
	Undertaking internal research to help improve our products or service.
</p>

