
@{
	ViewBag.Title = "Shop";
}

<h2>@ViewBag.Title</h2>



<p>This is where Hilbert and Derrick are working on this week.</p>



<script>
	$(document).ready(function () {
		SetActiveMenus('home', 'product');
	});
</script>
