
@{
	ViewBag.Title = "Shipping & Returns";
}

<h2>@ViewBag.Title</h2>
<p>We hope this helps you finding information what you need. If you can't find the information, please contact us!</p>
<br/>
<h3>Shipping Policy</h3>
<dl>
	<dd>
		Most shippable items can be sold on Fur Depot. In order to make shipping transactions as smooth as possible,
		follow the policies below. In cases of severe or repeated violations, we may suspend or cancel an account or take other action.
		Shipping is subject to the Fur Depot Terms of Service.
	</dd>
</dl>
<br />
<h3>Restrictions</h3>
<dl>
	<dd>Sellers are responsible for complying with all applicable laws and regulations regarding mailing. Please check the US Postal Service shipping restrictions </dd>
	<dd>Certain things are not allowed to be sold on Fur Depot. Check the Prohibited Item guidelines to ensure that they are OK to sell on Fur Depot. Also please review our Posting rules and Community guidelines.</dd>
</dl>
<br />
<h3>Fees</h3>
<dl>
	<dt>Sellers:</dt>
	<dd>Sellers are responsible for paying a service fee. Shipping costs are typically paid by the buyer but can be paid by the seller. Shipping fees can vary, so the amounts are shown for each item. You'll know how much you'll pay before you buy.</dd>
	<dd>Fur Depot will not reimburse postage if a package is held by USPS with the reason “postage due.” </dd>
	<dd>As a seller, if you didn’t select the correct label weight and more postage is due, do not ship the item. You will need to cancel the transaction and edit your package weight in your posting. When the buyer makes a new offer, print the updated label.</dd>
	<dt>Buyers:</dt>
	<dd>
		Buyers pay for the cost of shipping items.
		Note: Buyers can cancel an offer on a shipping item if the seller hasn't accepted the offer. Once the seller accepts the offer, the buyer has committed to paying for the item.
	</dd>
	<dd>Buyers pay for the shipping label. Shipping fees can vary, so the amounts are shown for each item. When you're the buyer, you'll know how much you'll pay before you buy.</dd>
	<dd>Sales Tax: We determine the sales tax rate based on the ship-to address of the buyer.</dd>
</dl>
<br />
<h3>Shipped items and Buyer Protection Claims</h3>
<dl>
	<dd>Only use Fur Depot to transact. Sellers should not take payments outside of Fur Depot. When an item is paid for and shipped through Fur Depot, the buyer may be protected if certain problems occur, but only if the transaction and payment were completed through Fur Depot.</dd>
	<dd>Sellers are responsible for selling the item that was purchased as described in the post</dd>
	<dd>We will not honor any situations that indicate false claims, abuse, or return fraud</dd>
	<dd>Learn more about how purchase protection and filing a claim works.</dd>
</dl>
