
@{


	ViewBag.Title = "Store Policy";
}

<h2>@ViewBag.Title</h2>
<br />
<h3>Customer Care</h3>
<dl>
	<dd>
		I’m a Customer Care section. I’m a great place to write a long text about your company and your services, and, most importantly,
		how to contact your store with queries. Writing a detailed customer care policy is a great way to build trust and reassure your customers
		that they can buy with confidence.
	</dd>
	<dd>
		I'm the second paragraph in your Customer Care section. Click here to add your own text and edit me. It’s easy.
		Just click “Edit Text” or double click me to add details about your policy and make changes to the font.
		I’m a great place for you to tell a story and let your users know a little more about you.
	</dd>
</dl>
<br />
<h3>Privacy & Safety</h3>
<dl>
	<dd>
		I’m a Privacy & Safety policy section. I’m a great place to inform your customers about how you use, store, and protect their personal information.
		Add details such as how you use third-party banking to verify payment, the way you collect data or when will you contact users after their purchase was completed successfully.
	</dd>
	<dd>
		Your user’s privacy is of the highest importance to your business, so take the time to write an accurate and detailed policy.
		Use straightforward language to gain their trust and make sure they keep coming back to your site!
	</dd>
</dl>
<br />
<h3>Payment Methods</h3>
<p>We have global coverage for our payment methods as below.</p>
<dl>
	<dt>
		Credit Cards
	</dt>
	<dd>Visa / Mastercard / American Express / Discover / Diners / Interac / Cartes Bancaires / JCB / China Union Pay</dd>
	<dt>
		Mobile Apps
	</dt>
	<dd>Apple Pay / Google Pay / Microsoft Pay / Alipay / WeChat Pay / GrabPay</dd>
</dl>


